<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.followme.dao.AttractionMapper" >
  <resultMap id="BaseResultMap" type="com.followme.pojo.Attraction" >
    <constructor >
      <idArg column="attractionId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="area" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="addr" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Latitude" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="Longitude" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="level" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="hot" jdbcType="DOUBLE" javaType="java.lang.Double" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    attractionId, name, type, price, area, addr, description, Latitude, Longitude, level, 
    hot
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from followme_attraction
    where attractionId = #{attractionid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from followme_attraction
    where attractionId = #{attractionid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.followme.pojo.Attraction" >
    insert into followme_attraction (attractionId, name, type, 
      price, area, addr, 
      description, Latitude, Longitude, 
      level, hot)
    values (#{attractionid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{area,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{latitude,jdbcType=DOUBLE}, #{longitude,jdbcType=DOUBLE}, 
      #{level,jdbcType=VARCHAR}, #{hot,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.followme.pojo.Attraction" >
    insert into followme_attraction
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attractionid != null" >
        attractionId,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="addr != null" >
        addr,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="latitude != null" >
        Latitude,
      </if>
      <if test="longitude != null" >
        Longitude,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="hot != null" >
        hot,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attractionid != null" >
        #{attractionid,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="hot != null" >
        #{hot,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.followme.pojo.Attraction" >
    update followme_attraction
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        Latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="longitude != null" >
        Longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="hot != null" >
        hot = #{hot,jdbcType=DOUBLE},
      </if>
    </set>
    where attractionId = #{attractionid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.followme.pojo.Attraction" >
    update followme_attraction
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      area = #{area,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      Latitude = #{latitude,jdbcType=DOUBLE},
      Longitude = #{longitude,jdbcType=DOUBLE},
      level = #{level,jdbcType=VARCHAR},
      hot = #{hot,jdbcType=DOUBLE}
    where attractionId = #{attractionid,jdbcType=BIGINT}
  </update>




  <select id="getAttractionsInfoByArea" parameterType="string" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from followme_attraction
    where area = #{area}
  </select>
</mapper>